extends default

block content
  - const m = moment(lesson.date)
  - const lessonDate = new Date(lesson.date)
  - const daysAgo = (new Date() - lessonDate)/8.64e+7 
  - 
    const calDate = m.calendar(null, {
      sameDay : '[今天]',
      nextDay : '[明天]',
      nextWeek : '[下]dddd',
      lastDay : '[昨天]',
      lastWeek : '[上]dddd'
    })


  a(href=`/classes/${group.name}`) &leftarrow; 回到#{group.name}班
  br
  h2.lessontitle #{lesson.title}
  h4 #{calDate}
    if daysAgo > 7
      span , #{m.fromNow()}

  unless lesson.summary_ZH
    
    h3 课程内容 （英语）
    | !{md.render(lesson.summary_EN)}

  h3 课程内容
  if lesson.summary_ZH
    | !{md.render(lesson.summary_ZH)}
  else
    p 这节课还没有翻译成中文的课程内容。

  if materials
    h3 材料
    ul
    - const images = materials.filter(material => material.type.split('/')[0] === 'image')
    - const audios = materials.filter(material => material.type.split('/')[0] === 'audio')
    - const videos = materials.filter(material => material.type.split('/')[0] === 'video')
      if images.length > 0
        div.thumbgallery
          each image in images
            div.thumb
              a(href=image.uri)
                - const size = 150
                - const params = `w_${size},h_${size},c_fit`
                - const brokenuri = image.uri.split('/')
                - brokenuri.splice(6, 1, params)
                - const thumbURI = brokenuri.join('/')
                img(src=thumbURI alt=image.title)
                br
                span= image.title

      if audios.length > 0
        ul
          each audio in audios
            li.materialitem
              .itemtitle
                include icons/audiotrack.svg
                a(href=audio.uri)
                  span= audio.title
              if audio.notes
                .notes
                  | !{md.render(audio.notes)}

      if videos.length > 0
        ul
          each video in videos
            li.materialitem
              .itemtitle
                include icons/live_tv.svg
                a(href=video.uri)
                  span= video.title
              if video.notes
                .notes
                  | !{md.render(video.notes)}            
